<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack The Future Mobile</title>

    <link rel="stylesheet" href="assets/css/screen.css">


    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>

</head>
<body>

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark">
    <h1 class="text-white">Hack The Future</h1>
    <div class="navbar-nav-scroll  nav">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item"><a data-role="Terrorists" href="#Terrorists" class="nav-link tab-link" >Terrorists</a></li>
            <li class="nav-item"><a data-role="Mines" href="#Mines" class="nav-link tab-link">Mines</a></li>
            <li class="nav-item"><a data-role="Images" class="nav-link tab-link">Images</a></li>
            <li class="nav-item"><a data-role="Poll" class="nav-link tab-link">Poll</a></li>
        </ul>
    </div>
</header>

<main class="bd-content container-fluid">
    <div id="Terrorists" class="hide tab">
        <h1 class="text-center">Terrorists</h1>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">RiskLevel</th>
                <th scope="col">Rank</th>
            </tr>
            </thead>
            <tbody class="terrorlist">

            </tbody>
        </table>

    </div>

    <div id="Mines" class="hide tab">
        <h1 class="text-center">Mines</h1>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Region</th>
                <th>Details</th>

            </tr>

            </thead>
            <tbody class="minelist">
            </tbody>
        </table>


    </div>

    <div id="Images" class="hide tab">
        <h1 class="text-center">Images</h1>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>

            </tr>
            </thead>
            <tbody class="terrorlist">


            </tbody>
        </table>

    </div>
    <div id="Poll" class="hide tab">
        <h1 class="text-center">Poll</h1>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">View Votes</th>

            </tr>
            </thead>
            <tbody class="terrorlist">

            </tbody>
        </table>

    </div>

    <div id="mineDetails" class="hide tab">

    </div>


    <div id="pollDetails" class="hide tab">

    </div>

    <div id="votePanel" class="hide tab">
        <form>
            <label for="voteDetails"></label>
        <textarea id="voteDetails" class="vote">

        </textarea>
            <input type="submit" value="vote">
        </form>

    </div>
</main>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAfN0m2-dLkWZCq1kJ76vpvAqK_3sz1A8&callback=initMap"></script>
<script type="text/javascript" src="assets/js/crud.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>